# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Banco de dados (não subir perguntas)
database.db
*.sqlite
*.sqlite3

# Ambiente virtual
venv/
.env/

# VSCode
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log