body{
font-family: Arial;
background:#121212;
color:white;
text-align:center;
}

.quiz{
margin-top:100px;
}

input{
padding:10px;
width:250px;
border-radius:6px;
border:none;
font-size:16px;
}

button{
display:block;
margin:15px auto;
padding:15px;
width:200px;
border:none;
border-radius:10px;
font-size:16px;
cursor:pointer;
background:#4da6ff;
color:white;
}

button:hover{
opacity:0.8;
}

#resultado{
font-size:20px;
margin-top:20px;
}