<!DOCTYPE html>
<html>

<head>
<title>CodeQuest</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>CodeQuest</h1>

<p>Usuário: {{username}}</p>
<p>XP: {{xp}}</p>
<p>Nível: {{level}}</p>

<a href="/profile">Perfil</a>
<a href="/ranking">Ranking</a>
<a href="/logout">Sair</a>

<div class="quiz">

<h2>{{ question["question"] }}</h2>

<input id="resposta" placeholder="Digite sua resposta">

<button onclick="enviar()">Responder</button>

</div>

<p id="resultado"></p>

<script>
const question_id="{{question['id']}}"
</script>

<script src="/static/script.js"></script>

</body>

</html>