<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Perfil</title>
<link rel="stylesheet" href="/static/style.css">
<link rel="icon" type="image/png" href="/static/logo2.png">
</head>
<body>

<div class="quiz">

<h1> Perfil</h1>

<div class="perfil-info">

<p> {{ username }}</p>

<p> {{ xp }} XP</p>

<p> Nível {{ level }}</p>

<p>🔥 Streak: {{ streak }} dias</p>

</div>

<div class="progress-container">
<div class="progress-bar"
style="width: {{ ((xp % 50) / 50 * 100)|int }}%;">
</div>
</div>

<p>
{{ xp % 50 }}/50 XP para o próximo nível
</p>

<div class="btn-container">

<a href="/trilhas" class="btn-jogar">
 Trilhas
</a>

<a href="/ranking" class="btn-jogar">
🏆 Ranking
</a>

<a href="/" class="btn-jogar">
 Home
</a>

</div>

</div>

</body>
</html>