<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - CodeQuest</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div class="quiz"> <h1>Criar Conta</h1>

        <form method="POST">
            <input name="username" 
                   type="text" 
                   placeholder="Escolha um Usuário (máx 15)" 
                   maxlength="15" 
                   required 
                   pattern="[a-zA-Z0-9]+" 
                   title="Use apenas letras e números, sem espaços ou símbolos.">

            <input name="password" 
                   type="password" 
                   placeholder="Crie uma Senha (máx 20)" 
                   maxlength="20" 
                   required>

            <button type="submit">Cadastrar Agora</button>
        </form>

        {% if error %}
            <p style="color: #ef4444; margin-top: 15px; font-weight: bold;">{{error}}</p>
        {% endif %}

        <p style="margin-top: 20px;">
            <a href="/login">Já tem uma conta? Entrar</a>
        </p>
    </div>

</body>
</html>